#**Prevendo Ocorrência de um Mecanismo de Ação (MoA)**


[![Repositório GitHub](https://img.shields.io/badge/GitHub-gustavolq-blue.svg)](https://github.com/diogoslz)
[![Linkedin](https://img.shields.io/badge/Linkedin-gustavoquadra-blue.svg)](https://www.linkedin.com/in/diogo-miranda-de-azevedo-63758425/)
[![Repositório do Projeto](https://img.shields.io/badge/RepositorioProjeto-ImersãoDadosAlura-blue.svg)](https://github.com/diogoslz/bootcamp-datascience-modulo-1-projeto)


<p align="center">
  <img src = "https://mma.prnasia.com/media2/1283775/drug_discovery_pharma_data_science.jpg?p=publish" width = 70%>
</p>


Olá! Meu nome é Diogo Miranda de Azevedo e seja muito bem-vindo ao meu primeiro projeto do Bootcamp Data Science da Alura!

Caso você tenha interesse em verificar o que foi aprendido no primeiro módulo do Bootcampo, podes clicar [aqui](https://github.com/diogoslz/Bootcamp-Datascience/blob/main/Bootcamp%20Datascience.ipynb) para acessar o meu Notebook com as aulas.

**Sumário do Projeto**

**1.** Introdução 

**2.** Definição do Problema de Negócio

**3.** Preparação dos Dados

**4.** Análise Exploratória dos Dados

**5.** Criação do Modelo de Machine Learning

**6.** Otimização do Modelo de Machine Learning

**7.** Conclusão

**8.** Agradecimento

In [ ]:
import pandas as pd

In [2]:
dados = pd.read_csv('A224856189_28_143_208.csv', encoding='ISO-8859-1', sep=';', skiprows=3,
                    skipfooter=12, thousands='.', decimal=',')

<ipython-input-2-0aff657f4165>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv('A224856189_28_143_208.csv', encoding='ISO-8859-1', sep=';', skiprows=3,

In [5]:
dados.head()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2020/Jul,2020/Ago,2020/Set,2020/Out,2020/Nov,2020/Dez,2021/Jan,2021/Fev,2021/Mar,Total
0,11 Rondônia,4142,7301,4318,4285,4511,3871,7560,7615,7507,...,8353,8473,8907,8165,9058,8130,8065,6463,6431,1387140
1,12 Acre,2087,3071,3783,3737,3609,4026,4880,4250,4552,...,3479,3774,3454,4225,3612,3698,3915,3483,3969,637069
2,13 Amazonas,9325,12754,14780,14556,12833,14073,15430,15660,15061,...,15054,14244,15290,15429,15085,13885,14517,17265,15855,2248754
3,14 Roraima,1475,1812,1813,1964,2037,2030,2307,2153,1913,...,2899,3263,3063,3481,3435,3496,3157,3304,3278,465989
4,15 Pará,38628,41530,42790,41112,44643,43506,45110,43661,44256,...,33340,38719,36072,37057,38147,36941,36537,34126,27721,6479075

In [6]:
pd.options.display.float_format = '{:,.2f}'.format

In [7]:
dados.head()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2020/Jul,2020/Ago,2020/Set,2020/Out,2020/Nov,2020/Dez,2021/Jan,2021/Fev,2021/Mar,Total
0,11 Rondônia,4142,7301,4318,4285,4511,3871,7560,7615,7507,...,8353,8473,8907,8165,9058,8130,8065,6463,6431,1387140
1,12 Acre,2087,3071,3783,3737,3609,4026,4880,4250,4552,...,3479,3774,3454,4225,3612,3698,3915,3483,3969,637069
2,13 Amazonas,9325,12754,14780,14556,12833,14073,15430,15660,15061,...,15054,14244,15290,15429,15085,13885,14517,17265,15855,2248754
3,14 Roraima,1475,1812,1813,1964,2037,2030,2307,2153,1913,...,2899,3263,3063,3481,3435,3496,3157,3304,3278,465989
4,15 Pará,38628,41530,42790,41112,44643,43506,45110,43661,44256,...,33340,38719,36072,37057,38147,36941,36537,34126,27721,6479075